:root {
  --primary-color: #b5c18e;
  --secondary-color: #f7dcb9;
  --accent-color: #deac80;
  --dark-color: #b99470;
  --dark0: #6280d1;
  --dark1: #203a5e;
  --dark2: #223949;
}

body {
  font-family: 'Arvo', sans-serif;
  background-color: var(--primary-color);
  color: var(--dark-color);
}

@font-face {
  font-family: "cheese";
  src: url(cheese.otf);
}
@font-face {
  font-family: "Gula";
  src: url(Gula.ttf);
}
h2 {
  font-family: "cheese", Arial;
  font-size: 5rem;
}
#recipeTitle {
  font-family: "Gula", Arial;
}

.navbar {
  background-color: var(--primary-color);
  padding: 10px 20px;
}

.navbar-item {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 30px;
}

.navbar-brand {
  text-align: center;
}

.navbar-start {
  text-align: center;
  justify-content: center;
}

.navbar-dropdown {
  background-color: white;
}

.navbar-dropdown .navbar-item {
  color: rgb(255, 255, 255);
}

.navbar-dropdown .navbar-item.more-button {
  color: white !important;
}

.hero {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.hero-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto 20px;
}

.columns {
  max-width: 99%;
}

.box {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: var(--secondary-color);
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--dark-color);
}

.menu-label {
  font-size: 1.25rem;
}

.inverted-colors *:not(img) {
  background-color: var(--dark1);
  color: white;
}

.inverted-colors img {
  filter: none;
  mix-blend-mode: difference;
}

.navbar-item,
.menu-list li a {
  background-color: transparent;
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 5px;
}

.button {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.spacer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inverted-colors .button {
  background-color: white;
  color: black !important;
}

#modal-button {
  color: black;
}

#recipe-info-container p {
  color: black;
}

.inverted-colors body {
  background-color: var(--dark0) !important;
}

.inverted-colors .navbar {
  background-color: var(--dark0) !important;
  color: white;
}

.inverted-colors .menu-list li a {
  background-color: transparent;
  color: white;
}

html,
body {
  height: 100%;
  overflow: auto;
}

/* carousel styling */

.container-carousel {
  max-width: 96vw;
  padding: 0 1rem;
}

#recipeTitle {
  margin: 2rem 0rem;
}

#trending {
  margin: auto;
  /* margin-top: 5rem; */
}

/* 
#trending .trending-slider {
  padding: 2rem 0;
  position: relative;
} */

.trending-slide {
  width: 30rem;
  height: 30rem;
  position: relative;
}

.trending-slide .trending-slide-img img {
  width: 50vw;
  height: 50vh;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.inverted-colors #recipe-info-container p {
  color: white;
}

#carousel-row {
  background-color: white;
  /* background-color: var(--dark0); */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin: auto;
}

/* media queries */
@media (max-width: 500px) {
  .trending-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .trending-slide .trending-slide-img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

@media (max-width: 500px) {
  #trending .trending-slider {
    height: 45rem;
  }
}

#recipe-ingredients {
  overflow: auto; 
  max-height: 300px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5%;
  padding-left: 30px;
}

#recipe-info {
  overflow: auto; 
  max-height: 300px;
  padding-left: 30px;
}

#yt-video {
  width: 556px; 
  height: 370px;
  max-width: 100%;
  max-height: 100%;
}